CompileFlags:
  CompilationDatabase: build/app-linux

Diagnostics:
  ClangTidy:
    FastCheckFilter: None
    Add:
      - bugprone-*
      - cppcoreguidelines-*
      - modernize-*
      - performance-*
      - readability-*

      # Google Style
      - google-*

      # 組み込み向け
      - misc-*
