[Desktop Entry]
Type=Application
Name=Signal Processing Practice
Exec=SignalProcessingPracticeApp
Icon=SignalProcessingPracticeApp
Categories=AudioVideo;Audio;
Terminal=false
